#navigator-toolbox {
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) !important;
	background: #f57c00 !important;
	color: #FFF !important;
}

#navigator-toolbox, #toolbar-menubar, #nav-bar {
	font-family: monospace;
}

#toolbar-menubar {
	background: #e65100 !important;
}

#tabbrowser-tabs {
    --tab-line-color: #f57c00 !important;
}

.tabbrowser-tab {
	color: #fff !important;
}

.tab-background[selected="true"] {
	background-image: none !important;
	background-color: #ff9800 !important;
}

#nav-bar-customization-target, #nav-bar-overflow-button, #nav-bar > toolbaritem, #nav-bar {
	background: #ff9800 !important;
}

#back-button > .toolbarbutton-icon {
	background: #ff9800;
	border: none;	
}

#nav-bar .toolbarbutton-icon {
	color: #fff;
}

/* Removing borders */
/* TODO: Remove border under tab bar */
:root { --tabs-border: transparent !important;
	--backbutton-border-color: transparent !important;;
	--backbutton-background: #f57c00 !important;
	--backbutton-hover-background: #e65100 !important;
	--backbutton-active-background: #e65100 !important;
	--toolbox-border-bottom-color: transparent !important;
	--toolbarbutton-hover-background: #f57c00 !important;
	--toolbarbutton-active-background: #f57c00 !important;
	--toolbarbutton-border-radius: 0 !important;
	  }
toolbar {
	--backbutton-border-color: inherit;;
	--backbutton-background: inherit;
	--backbutton-hover-background: inherit;
	--backbutton-active-background:inherit;
	--toolbox-border-bottom-color: inherit;
	--toolbarbutton-hover-background: inherit;
	--toolbarbutton-active-background: inherit;
	--toolbarbutton-border-radius: inherit;

}
.tabbrowser-tabs { border:0; opacity:0 !important; }
.tabbrowser-tab::before { opacity: 0 !important; }
.tabbrowser-tab::after {  opacity: 0 !important; }	
.titlebar-placeholder { border: none !important; }
#navigator-toolbox { --tabs-border-color: transparent !important; }
#navigator-toolbox::after { border-top: 0px !important; }
#nav-bar { border: 0; !important
	margin-top: -1px; !important
	margin-bottom: -1px; !important }

#personal-bookmarks { background: #ff9800 !important; color: #fff; }
#PersonalToolbar { background-color: #ff9800 !important; background-image: none !important; }
#urlbar, .searchbar-textbox {
	border: 0 !important;
	border-bottom: 2px solid #aaa !important;
	background: transparent !important;
	color: #fff;
	box-shadow: none !important;
}
#urlbar[focused=true], .searchbar-textbox[focused=true] {
	border-bottom: 2px solid #fff !important;		
}
#urlbar-zoom-button {
	border-radius: 0 !important;
	border: 0 !important;
	background: #ff9800 !important;
	color: #fff !important;
}
#urlbar-zoom-button:hover {
	background: #f57c00 !important;
}